<div class="container">
  <div class="footer__inner">
    <!-- footer top -->
    <div class="footer__top">
      <div class="footer__row">
        <!-- footer col 1 -->
        <div class="footer__column">
          <!-- logo -->
          <a href="./">
            <div class="header-inner">
              <img
                src="./assets/icons/logo.svg"
                alt="grocerymart"
                class="header-logo footer-logo--size"
              />
              <h1 class="header-logo__title footer-logo--heading section-heading lv3">
                grocerymart
              </h1>
            </div>
          </a>

          <p class="footer__desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
            maxime et veniam eligendi rem voluptatibus.
          </p>
          <form action="" class="footer__form">
            <label for="footer-text" class="footer__form-label"
              >Receive product news and updates.</label
            >
            <div class="footer__form-wrapper">
              <input
                type="text"
                placeholder="Email address"
                id="footer-text"
                class="footer__form-input"
              />
              <button class="btn btn--primary footer__form-btn">SEND</button>
            </div>
          </form>
        </div>

        <!-- footer col 2 -->
        <div class="footer__column">
          <h3 class="footer__heading">SHOP</h3>
          <ul class="footer__list"></ul>
          <li>
            <a href="#!" class="footer__link">All Departments</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Fashion Deals</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Electronics Discounts</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Home & Living Specials</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Beauty Bargains</a>
          </li>
        </div>

        <!-- footer col 3 -->
        <div class="footer__column">
          <h3 class="footer__heading">Support</h3>
          <ul class="footer__list"></ul>
          <li>
            <a href="#!" class="footer__link">Store locator</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Order status</a>
          </li>
        </div>

        <!-- footer col 4 -->
        <div class="footer__column">
          <h3 class="footer__heading">Company</h3>
          <ul class="footer__list"></ul>
          <li>
            <a href="#!" class="footer__link">Customer Service</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Terms of Use</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Privacy</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Careers</a>
          </li>
          <li>
            <a href="#!" class="footer__link">About</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Affiliates</a>
          </li>
        </div>

        <!-- footer col 5 -->
        <div class="footer__column">
          <h3 class="footer__heading">Contact</h3>
          <ul class="footer__list"></ul>
          <li>
            <p class="footer__label">Email</p>
            <a href="mailto:contact@grocerymart.com" class="footer__link">
              contact@grocerymart.com
            </a>
          </li>
          <li>
            <p class="footer__label">Hotline</p>
            <a href="tel:19008888" class="footer__link">19008888</a>
          </li>
          <li>
            <p class="footer__label">Address</p>
            <p class="footer__text">
              No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay
              District, City. Hanoi
            </p>
          </li>
          <li>
            <p class="footer__label">Hours</p>
            <p class="footer__text">M - F 08:00am - 06:00pm</p>
          </li>
        </div>
      </div>
    </div>

    <!-- footer bottom -->
    <div class="footer__bottom">
      <p class="footer__copyright">© 2020 - 2030 Grocery Mart. All rights reserved.</p>
      <div class="footer__socials">
        <a href="#!" class="footer__social-link footer__social-link--facebook">
          <img src="./assets/icons/facebook.svg" alt="facebook" class="footer__social-icon">
        </a>
        <a href="#!" class="footer__social-link footer__social-link--youtube">
          <img src="./assets/icons/youtube.svg" alt="youtube" class="footer__social-icon">
        </a>
        <a href="#!" class="footer__social-link footer__social-link--tiktok">
          <img src="./assets/icons/tiktok.svg" alt="tiktok" class="footer__social-icon">
        </a>
        <a href="#!" class="footer__social-link footer__social-link--twitter">
          <img src="./assets/icons/twitter.svg" alt="twitter" class="footer__social-icon">
        </a>
        <a href="#!" class="footer__social-link footer__social-link--linked">
          <img src="./assets/icons/linked.svg" alt="linked" class="footer__social-icon">
        </a>
      </div>
    </div>
  </div>
</div>
